@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

.images{
    width:95%;
   height:350px;
   object-fit:cover;
   object-position:50% 50%;
}

.listing {
  text-align: center;
/* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 23px;
  
}
.above-line{
  border-top:1px solid rgba(134, 98, 9, 0.781);
  border-color: rgba(134, 98, 9, 0.781);
  width: 13%;
  margin: auto;
  margin-top: 10%;
}
.bottom-line {
  border-bottom: 1px solid rgba(134, 98, 9, 0.781);
  border-color: rgba(134, 98, 9, 0.781);
  width: 13%;
  margin: 0 auto;
  margin-bottom: 10%;
}

/* Schedule A Shwoing */
.showing {
  text-align: center;
/* font-family: 'Cormorant Garamond', serif; */
  font-family: 'Cinzel', serif;
  letter-spacing: 3px;
  margin-top: 4%;
  margin-bottom: 4%;
  font-size: 30px;
  font-weight: 800px
  
}
.above-line-showing{
  border-top:1px solid rgba(134, 98, 9, 0.781);
  border-color: rgba(134, 98, 9, 0.781);
  width: 13%;
  margin: auto;
}
.bottom-line-showing {
  border-bottom: 1px solid rgba(134, 98, 9, 0.781);
  border-color: rgba(134, 98, 9, 0.781);
  width: 13%;
  margin: 0 auto;
  margin-bottom: 5%;
}
/* End */


/* COurse Statement */
.statement{
    text-align: center;
    font-family: 'Bad Script', cursive;
    padding-bottom: 3%;
}
.unique-statement{
    text-align: center;
    font-family: "Peddana", serif;
    font-size:22px;
    letter-spacing: 4px;
    color: gray;
    padding-bottom: 12%;
}

.bottom-info{
    padding-top: 5%;
    background-color: rgba(216, 206, 206, 0.185);
    padding: 40px 60px;
    text-align: center;
    font-family: "Peddana", serif;
    letter-spacing: 4px;
    font-size: 20px;
    margin: 10px 20px ;
}
.showing-text{
    text-align: center;
    font-size: 14px;
    margin-bottom: -3rem;
}
/* Submit Button real Estate Page */
.estate-submit-button{
  margin-top: 1%;
  text-align: center;
  border: 2px solid rgba(134, 98, 9, 0.781);
  padding: 5px 35px;
  color: rgba(134, 98, 9, 0.781);
  letter-spacing: 3px;
  font-family: "Peddana", serif;
  font-size: 21px;
  background-color: white;
  margin-bottom: 5%;
}
.estate-submit-button:hover{
   background-color: rgba(134, 98, 9, 0.781);
  color: white;
}